.About-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 10px;
}
.About_ImageSlider-container {
  width: 100%;
  background: rgba(245, 252, 255, 1);
  display: flex;
  align-items: center;

  height: 70vh;
}
.About_ImageSlider-container-inner {
  display: flex;
  align-items: center;
  gap: 70px;
  margin: 10px;
  justify-content: space-between;
  width: 100%;
}
.About_ImageSlider-container-right_side {
  width: 50%;
}
.AboutImageSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 80%;
}
.AboutSlide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  height: 40vh;
  width: 100%;
  border: 2px solid #fd6f00;
  object-fit: cover;
}
.slide-hidden {
  display: none;
}
.About_ImageSlider-container-left_side {
  height: 100%;
  width: 50%;
  margin: 40px;
}
.About_ImageSlider-container-doctor-name {
  color: #fd6f00;
  font-weight: 600;
  font-size: 25px;
}
.indicatorsAbout {
  display: flex;
  position: absolute;
  bottom: 250px;
}
.About_ImageSlider-container-text {
  font-size: 20px;
  max-width: 900px;
}
.indicatorAbout {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}
.indicatorAbout-inactive {
  background-color: #4746466e;
}
.arrowAbout {
  position: absolute;
  height: 2rem;
  width: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}
.arrowAbout:hover {
  cursor: pointer;
}
.arrowAbout-left {
  top: 50%;
  right: 47%;
}
.arrowAbout-right {
  top: 50%;
  right: 7%;
}

.personalInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50vh;
  gap: 30px;
}
.personalInfo-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.personalInfo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.personalInfo-icon-box {
  width: 74px;
  height: 64px;
  padding: 8px 0px 0px 0px;
  gap: 10px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  background-color: rgba(245, 252, 255, 1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  justify-content: center;
}
.personalInfo-icon-style {
  color: rgba(0, 52, 102, 1);
  height: 48px;
  width: 28px;
}
.personalInfo-text-style {
  font-size: 15px;
  font-weight: 500;
  line-height: 36px;
  color: rgba(98, 98, 98, 1);
}
.Education-container {
  width: 100%;
  height: 50vh;
}
ul.timeline-3 {
  list-style-type: none;
  position: relative;
}
ul.timeline-3:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline-3 > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline-3 > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fd6f00;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.bg-custom-color {
  background-color: rgba(245, 252, 255, 1);
}
.timelineAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.timelineItem {
  display: flex;
  align-items: center;
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  animation: customAni 2s ease 0s infinite normal none;
}

@keyframes customAni {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

.circle:hover {
  transform: scale(1.1);
}

.lineTimeAbout {
  width: 60px;
  height: 2px;
  background-color: #ccc;
}

.Language-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgba(245, 252, 255, 1);
  width: 100%;
  height: 70vh;
}
.Language-container-parts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.language-measure {
  background: linear-gradient(0deg, #fd6f00, #fd6f00);
  width: 600px;
  height: 20.3px;
  border-radius: 50px;
 
 
}
.language-measure.good {
  background: linear-gradient(90deg, #fd6f00 60.13%, #a1bdd0 73.19%);
}

.Language-container-part1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.language-measurement-container {
  text-align: end;
}
.Language-name {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  letter-spacing: 0.05em;
  text-align: left;
}
.computerSkills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  gap: 30px;
}
.computerSkills-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.computerSkills-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
 
  animation: fadeInSlideUp 2s infinite;
}
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.computerSkills-card-Circle {
  width: 6vw;
  height: 12vh;
  background-color: rgba(196, 196, 196, 0.4);
  border-radius: 50%;
  border: 5px solid rgba(59, 89, 153, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.computerSkills-card-Circle.latex {
  border-left: 5px solid white;
}
.computerSkills-text {
  color: rgba(84, 84, 84, 1);
  font-size: 24px;
  font-weight: 600;
  line-height: 18px;
}
.computerSkills-card-Circle-img {
  width: 3vw;
  height: 6vh;
  text-align: center;
}
.latex-icon {
  color: rgba(0, 128, 128, 1);
  text-align: center;
  width: 50px;
  height: 60px;
}
.computerSkills-card-Circle-img.office {
  width: 3vw;
  height: 5vh;
}
.ProfessionalWebPages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 40vh;
}
.ProfessionalWebPages-container-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ProfessionalWebPages-container-card {
  border: 2px solid #fd6f00;
  padding: 25px;
  border-radius: 50%;
  height: 10vh;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ProfessionalWebPages-container-card a {
  text-decoration: underline;
  color: #333;
  font-weight: 600;
}
.ProfessionalWebPages-container-card:hover{
  background-color: rgb(230, 185, 127);
  transition: background-color 0.3s;
}
.ProfessionalWebPages-container-card-icon {
  font-size: 30px;
  color: #333;
}
@media (max-width: 1100px) {
  .arrowAbout-left {
    top: 50%;
    right: 45%;
  }
  .arrowAbout-right {
    top: 50%;
    right: 5%;
  }
  .About_ImageSlider-container-text {
    font-size: 15px;
    max-width: 900px;
  }
  .About_ImageSlider-container-doctor-name {
    color: #fd6f00;
    font-weight: 600;
    font-size: 15px;
  }
  .Language-container-parts {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 300px) and (max-width: 900px) {
  /* .About-container{
    flex-direction: column;
  } */
  .arrowAbout-left {
    top: 50%;
    right: 43%;
  }
  .arrowAbout-right {
    top: 50%;
    right: 0%;
  }
  .About_ImageSlider-container-text {
    font-size: 7px;
  }
  .About_ImageSlider-container-doctor-name {
    color: #fd6f00;
    font-weight: 600;
    font-size: 10px;
  }
  .personalInfo-container {
    flex-direction: column;
    width: 100%;
    height: 70vh;
  }
  .personalInfo-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .personalInfo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
  }
  .personalInfo-icon-box {
    width: 40px;
    height: 40px;
  }
  .personalInfo-icon-style {
    color: rgba(0, 52, 102, 1);
    height: 30px;
    width: 20px;
  }
  .personalInfo-text-style {
    font-size: 8px;
  }
  .language-measure {
    width: 300px;
    height: 20.3px;
  }
  .Language-name {
    font-size: 15px;
  }
  .Language-container-parts {
    display: flex;
    flex-direction: column;
  }

  .indicatorsAbout {
    bottom: 440px;
  }
  .Education-container {
    height: 15vh;
  }
  .computerSkills-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .ProfessionalWebPages-container-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .ProfessionalWebPages-container-card {
    padding: 10px;
    border-radius: 50%;
    height: 10vh;
    width: 20vw;
  }
  .ProfessionalWebPages-container-card-icon {
    font-size: 15px;
  }

  .computerSkills-card-Circle {
    width: 20vw;
    height: 9vh;
  }
  .computerSkills-card-Circle.latex {
    border-left: 5px solid white;
  }
  .computerSkills-text {
    font-size: 15px;
  }
  .computerSkills-card-Circle-img {
    width: 50px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
  }
  .latex-icon {
    color: rgba(0, 128, 128, 1);
    text-align: center;
    width: 50px;
    height: 60px;
  }
  .computerSkills-card-Circle-img.office {
    width: 30px;
    height: 30px;
  }
}
