.hero_section-container {
  height: 100%;
  width: 100%;
  background: rgba(245, 252, 255, 1);
}

.hero_section-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  width: 100%;
  gap:15px
}

.hero_section-left_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 10px;
  max-width: 805px;
}

.hero_section-doctor-title {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.03em;
}

.hero_section-doctor-name {
  color: rgba(253, 111, 0, 1);
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0.03em;
}
.hero_section-right_side{
  width: 100%;
}
.hero_section-right_side-image-container {
  height: 60vh;
  width: 80%;
  border-radius: 50%;
  background: linear-gradient(182.68deg, #ff8233 39.73%, rgba(255, 255, 255, 0) 78.4%);
  display: grid;
  place-items: center;
  /* position: relative; */
  top: 200px;
}

.image-container_inner-circle {
  height: 90%;
  width:90%;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.image-container_inner-circle_img {
  position: relative; 
  
  height: 50vh;
  width: 70%;
}

@media (max-width: 1721px) and (min-width:1024) {
  .hero_section-doctor-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 38.4px;
    letter-spacing: 0.03em;
  }
  .hero_section-container{
    height: 0px;
    
  }
  .hero_section-left_side{
gap:0px;
  }
}
@media (max-width: 850px) {
  .hero_section-right_side-image-container, .image-container_inner-circle, .image-container_inner-circle_img {
   
  }
  
  .hero_section-center {
    flex-direction: column;
    height: auto;
  }

  .hero_section-left_side {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hero_section-doctor-title {
    font-size: 24px;
  }
  
  .hero_section-doctor-name {
    font-size: 36px;
  }
}
