.Main_title {
  color: rgba(30, 30, 30, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.03em;
  text-align: center;
}
@media (max-width: 768px) {
 .Main_title{
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.01em;
 
 }
}
