.hero_section {
  width: 100%;
  height: 70.063vh;
  /* background-color: rgb(26, 176, 240); */
}
.center {
  display: flex;
  width: 80%;
  
  align-items: center;
}
.left_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    margin:10px;
  
    
}
.doctor{
color:rgba(0, 0, 0, 1);
font-family: 700;
font-size: 30px;
}
.name{
    color:rgba(253, 111, 0, 1);
    font-weight: 600;
}
.pre_about{
    color:rgba(0, 0, 0, 1);
    font-weight: 400;
    line-height: 1.8;
    max-width: 800px;
}
.btn {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    width: 8vw;
    height: 5vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
  }
  
  .btn:hover {
    background-color: rgba(57, 127, 194, 1);
    transition: background-color 0.3s;
  }
  .circle{
    width:31.768vw;
    height: 63.663vh;
    border: 25.86px solid;
    background-color: #003366;
    border-radius: 90%;

    border-image-source: linear-gradient(182.68deg, #FF8233 39.73%, rgba(255, 255, 255, 0) 78.4%);
    
    
    
  }
