.AwardsAndHonors-container{
    display: flex;
    flex-direction: column;
    gap:40px;
    margin-top: 10px;
}

.Awards-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px;
}

.Awards-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 25px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  background: rgba(245, 252, 255, 1);
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  height: auto;
}
.Trophy {
  color: rgba(237, 221, 43, 1);
  font-size: 70px;
}
.Awards-text {
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  font-weight: 400;

  letter-spacing: 0.03em;
  text-align: center;
  max-width: fit-content;
}

@media (max-width: 768px) {
 .Awards-cards {
display:flex;
flex-direction: column;
align-items: center;
 }
 .Awards-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
 
  gap: 25px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  background: rgba(245, 252, 255, 1);
  border-radius: 8px;
  text-align: center;
 
}
 
}
@media (max-width: 850px) {
  .Awards-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Awards-card {
    width: 350px;
 
  }
}
